:root {
	--primary-50: #fff2e5;
	--primary-100: #ffd9b2;
	--primary-400: #dd8632;

	--gray-100: #e2d8cf;
	--gray-200: #cbb9a8;
	--gray-300: #ad9a85;
	--gray-500: #837263;
	--gray-600: #845f3b;
	--gray-700: #553d1f;
	--gray-800: #312a23;
	--gray-900: #262019;

	--blue-200: #8f96eb;

	--gold-100: #ffce00;
}

body {
	background-color: var(--gray-900);
	margin: 0;
}

h1,
h2,
h3 {
	color: var(--gray-200);
}
.color-white {
	color: white;
}

h1 {
	font-family: "Libre Baskerville", serif;
}
h2 {
	font-family: "Dancing Script", cursive;
	color: var(--primary-100);
	font-size: 2.2rem;
}
h3 {
	font-family: "Libre Baskerville", serif;
	font-size: 1.3rem;
}
.custom-button,
button,
p {
	font-family: "Open Sans", serif;
	color: var(--gray-100);
	line-height: 1.6rem;
}
a {
	color: var(--gray-100);
}
input {
	font-family: "Libre Baskerville", serif;
}

.container {
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
}
.container.margin {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.container.large {
	max-width: 1400px;
}
.w-100 {
	width: 100%;
}
.text-center {
	text-align: center;
}
.ml-auto {
	margin-left: auto;
}
.mr-auto {
	margin-right: auto;
}
.mt-0 {
	margin-top: 0;
}
.mt-3 {
	margin-top: 3em;
}

@-webkit-keyframes slide-top {
	0% {
		-webkit-transform: translateY(100px);
		transform: translateY(100px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
		opacity: 1;
	}
}
@keyframes slide-top {
	0% {
		-webkit-transform: translateY(100px);
		transform: translateY(100px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
		opacity: 1;
	}
}
@keyframes slide-top-out {
	0% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateY(100px);
		transform: translateY(100px);
		opacity: 0;
	}
}
@-webkit-keyframes slide-top-out {
	0% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateY(100px);
		transform: translateY(100px);
		opacity: 0;
	}
}

@-webkit-keyframes slide-left {
	0% {
		-webkit-transform: translateX(100px);
		transform: translateX(100px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
		opacity: 1;
	}
}
@keyframes slide-left {
	0% {
		-webkit-transform: translateX(100px);
		transform: translateX(100px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
		opacity: 1;
	}
}
@-webkit-keyframes slide-left-out {
	0% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(100px);
		transform: translateX(100px);
		opacity: 0;
	}
}
@keyframes slide-left-out {
	0% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(100px);
		transform: translateX(100px);
		opacity: 0;
	}
}

@-webkit-keyframes slide-right {
	0% {
		-webkit-transform: translateX(-100px);
		transform: translateX(-100px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
		opacity: 1;
	}
}
@keyframes slide-right {
	0% {
		-webkit-transform: translateX(-100px);
		transform: translateX(-100px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
		opacity: 1;
	}
}
@-webkit-keyframes slide-right-out {
	0% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(-100px);
		transform: translateX(-100px);
		opacity: 0;
	}
}
@keyframes slide-right-out {
	0% {
		-webkit-transform: translateX(0px);
		transform: translateX(0px);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateX(-100px);
		transform: translateX(-100px);
		opacity: 0;
	}
}
